<style>
    form {
        font-size:20px;
        max-width: 400px; 
        margin: 0 auto; 
        padding: 20px; 
        background-color: #f9f9f9; 
        border-radius: 5px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    }
    
    
    input[type="submit"] {
        display: block; 
        width: 100%; 
        padding: 10px; 
        margin-top: 10px; 
        background-color: #007bff; 
        color: #fff; 
        border: none;
        border-radius: 5px; 
        cursor: pointer; 
        transition: background-color 0.3s; 
    }
    
    
    input[type="submit"]:hover {
        background-color: #0056b3; 
    }
    
    
    a {
        display: block; 
        margin-top: 10px; 
        text-align: center; 
        color: #007bff; 
        text-decoration: none; 
    }
    
    
    a:hover {
        text-decoration: underline; 
    }
    
    
</style>

<form method="POST">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" value='Login'><br><br>
    <a href="{%url 'reset'%}">Forgot your password?</a><br>
    <a href="{% url 'signup' %}">Don't have an account?  Sign Up</a>



    
</form>
