
<style>
    /* Styles for form elements */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

p {
    margin-bottom: 10px;
    text-align:center;
}

input[type="text"]
 {
    font-size:15px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="passsword"]{
    font-size:15px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

}

input[type="submit"] {
    font-size:15px;
    width: 100%;
    padding: 10px;
    background-color: blue;
    font-weight:bold;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Styles for links */
a {
    color: black;
    text-decoration: none;
    font-size:25px;
    
}

a:hover {
    text-decoration: underline;
}

/* Style for error message */
.error-msg {
    color: red;
    margin-top: 10px;
}
label{
    font-size:20px;
    color:black;
}
</style>







<form method="POST">
    {%csrf_token%}
    {{form}}<br><br>
    <input type="submit" value='Signup'><br><br>
    <a href="/accounts/login/">Already have an account?  Log In</a>

</form>